div{
    background-color: blueviolet;
    transition-duration: 2s;
    transition-delay: 1s;
    width: 40%;
    height: 100px;
    border: 2px solid red;
}
div:hover{
    background-color: greenyellow;
    width: 10%;
}